@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.Header{
    display: block;
    background-color: rgb(129, 129, 129);
}

.NavBar{
    background-color: #973bff;
    overflow: hidden;
}

.NavBar :where(.leftBar, .rightBar){
    padding: 5px 30px;
    font-size: 25px;
}

.NavBar .leftBar{
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
}

.NavBar .rightBar{
    float: right;
}

.goPage{
    padding: 5px 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.goPage:hover{
    text-decoration: underline;
    transition: 0.5s;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 768px) {

    .goPage{
        display: block;

    }
}

.HomeImg{
    width: 100%;
    height: 400px;
    position: relative;
}

.HomeImg > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: blur(2px);
}

.HomeImg .profile{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.705);
}

.HomeImg .profile .speech{
    width: 70%;
}

.HomeImg .profile .speech h2{
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.HomeImg .profile .speech h2 span{
    font-weight: bold;
    font-size: 40px;
}

.HomeImg .profile .profileImg{
    width: 30%;
}

.HomeImg .profile .profileImg img{
    max-width: 200px;
    height: 250px;
    border-radius: 50%;
    animation: 0.5s filp-animation;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 430px) {
    .NavBar :where(.leftBar, .rightBar){
        padding: 5px 20px;
        font-weight: bold;
        font-size: 20px;
    }
}

@keyframes filp-animation{
    from {
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0);
    }
}

.Section{
    padding: 20px 0;
}

.Section .topic{
    background-color: #c088ff;
    width: 300px;
}

.Section .topic h2{
    text-align: right;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.Section .content{
    max-width: 700px;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    margin: 20px 0;
}

.Section .content ul li span{
    font-weight: bold;
    letter-spacing: 2px;
}