@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.Header{
    display: block;
    background-color: rgb(129, 129, 129);
}

.NavBar{
    background-color: rgb(82, 82, 82);
    overflow: hidden;
}

.NavBar :where(.leftBar, .rightBar){
    padding: 5px 30px;
    font-size: 25px;
}

.NavBar .leftBar{
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
}

.NavBar .rightBar{
    float: right;
}

.goPage{
    padding: 0 10px;
    font-size: 20px;
    color: rgb(204, 204, 204);
    text-decoration: none;
}

.goPage:hover{
    color:white;
    text-decoration: underline;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {

    .goPage{
        display: block;

    }
}

.HomeImg{
    width: 100%;
    height: 400px;
    position: relative;
}

.HomeImg > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: blur(2px);
}

.HomeImg .profile{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    background-color: rgb(155, 155, 155, 0.5);
}

.HomeImg .profile .speech{
    width: 70%;
}

.HomeImg .profile .speech h2{
    position: relative;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.HomeImg .profile .speech h2 span{
    font-weight: bold;
    font-size: 40px;
}

.HomeImg .profile .profileImg{
    width: 30%;
    overflow: hidden;
}

.HomeImg .profile .profileImg img{
    width: 200px;
    height: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: 0.5s filp-animation;
}

@media screen and (max-width: 430px) {
    .NavBar :where(.leftBar, .rightBar){
        padding: 5px 20px;
        font-weight: bold;
        font-size: 20px;
    }
}

@keyframes filp-animation{
    from {
        transform: scaleX(-1);
    }
    to{
        transform: scaleX(1);
    }
}

.Section{
    padding: 20px 0;
    background-color: yellow;
}

.Section .topic{
    background-color: grey;
    width: 300px;
}

.Section .topic h2{
    text-align: right;
    padding: 10px;
    font-weight: bold;
}

.Section .content{
    width: 700px;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
}